---
---
<!DOCTYPE html>
<html>
  <head>
 	{% include metaheaders.inc %}
    <title>Just Kaps by kalpeshshirodker</title>
  </head>

  <body>
    {% include header.inc %}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
         <h3>Projects I am working on right now</h3>
<ul>
	<li><a href="https://github.com/kalpeshshirodker/webworker-xml2json">webworker-xml2json</a></li>
	<li><a href="https://github.com/kalpeshshirodker/timeoutqueue">timeoutqueue</a></li>
</ul>
  </body>
</html>
